.col {
    position: fixed;
    top: 0;
    bottom: 0;
    right: calc((100% - 1280px)/2);
    display: flex;
}

@media screen and (max-width: 1365px) {
    .col {
        right: 40px;
    }
}

@media screen and (max-width: 1279px) {
    .col {
        right: 15px;
    }
}

@media screen and (max-width: 639px) {
    .col {
        position: static;
        margin-top: 40px;
    }
}